@keyframes coding {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

body {
    background-color: black;
    color: green;
    font-family: "Lucida Console", Courier, monospace;
    margin-bottom: 100px;
}

h1,
h2 {
    color: purple;
}

hr {
    border-color: cyan;
}

a {
    color: cyan;
}

a:hover {
    color: purple;
    background-color: cyan;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: purple;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}

.right {
    text-align: right;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
}

#content {
    padding-top: 1em;
}

.animation {
    overflow: hidden;
    white-space: nowrap;
    animation: coding 3.5s steps(40, end);
}

#footer {
    background-color: green;
    color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 960px) {
    .animation {
        overflow: visible;
        white-space: normal;
        animation: none;
    }
}